.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btn:hover {
  color: black;

  border-width: 4px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
